# 제로베이스 데이터 취업 스쿨 SQL 과제 1
- 스타벅스 이디야 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 5점
- 5번 15점
- 6번 15점
- 7번 40점
- 8번 5점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1.

AWS RDS (MySQL) 에 프로젝트 관련 Database 를 생성하고, 접근 가능한 사용자 계정을 생성하세요.

- Database Name : oneday
- User Name / Password : oneday / 1234

In [1]:
import mysql.connector

remote = mysql.connector.connect(
    host = "database-1.c1cq6saoqqn3.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = 'admin',
    password = 'star&0831',
)

cursor = remote.cursor(buffered=True)

In [2]:
# - Database Name : oneday
# - User Name / Password : oneday / 1234
cursor.execute("create database oneday default character set utf8mb4")
cursor.execute("create user 'oneday'@'%' identified by '1234'")

DatabaseError: 1007 (HY000): Can't create database 'oneday'; database exists

제출 1.
- Database 생성문 조회 결과 : SHOW CREATE DATABASE oneday;
- 사용자 권한 확인 결과 : SHOW GRANT FOR ‘oneday’@‘%’

In [3]:
# Database 생성문 조회 결과
cursor.execute("show create database oneday")

db_result = cursor.fetchall()
for result_iterator in db_result :
    print(result_iterator)

# 사용자 권한 확인 결과
cursor.execute("show grants for 'oneday'@'%'")

user_result = cursor.fetchall()
for result_iterator in user_result :
    print(result_iterator)

('oneday', "CREATE DATABASE `oneday` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */")
('GRANT USAGE ON *.* TO `oneday`@`%`',)

문제 2.

스타벅스 이디야 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [4]:
# database 선택
cursor.execute("use oneday")

# COFFEE_BRAND 테이블
cursor.execute("create table COFFEE_BRAND(id int not null auto_increment primary key, name varchar(16))")

# COFFEE_STORE 테이블
cursor.execute("create table COFFEE_STORE(id int not null auto_increment primary key, brand int, name varchar(32), gu_name varchar(5), address varchar(128), lat decimal(16,14), lng decimal(17,14), foreign key (brand) references COFFEE_BRAND(id))")

문제 3.

Python 코드로 COFFEE_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [5]:
# COFFEE_BRAND 테이블에 데이터 입력
cursor.execute("insert into COFFEE_BRAND values (1, 'STARBUCKS')")
cursor.execute("insert into COFFEE_BRAND values (2, 'EDIYA')")
remote.commit()

제출 2.
- Table 생성 결과 : Desc COFFEE_BRAND; Desc COFFEE_STORE;

제출 3.
- COFFEE_BRAND 조회 결과 : SELECT * FROM COFFEE_BRAND;

In [6]:
# 제출 2.
# COFFEE_BRAND 테이블 생성 결과
cursor.execute("desc COFFEE_BRAND")

table1_result = cursor.fetchall()
for result_iterator in table1_result :
    print(result_iterator)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(16)', 'YES', '', None, '')

In [7]:
# 제출 2.
# COFFEE_STORE 테이블 생성 결과
cursor.execute("desc COFFEE_STORE")

table2_result = cursor.fetchall()
for result_iterator in table2_result :
    print(result_iterator)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('brand', 'int', 'YES', 'MUL', None, '')
('name', 'varchar(32)', 'YES', '', None, '')
('gu_name', 'varchar(5)', 'YES', '', None, '')
('address', 'varchar(128)', 'YES', '', None, '')
('lat', 'decimal(16,14)', 'YES', '', None, '')
('lng', 'decimal(17,14)', 'YES', '', None, '')

In [8]:
# 제출 3.
# COFFEE_BRAND 조회 결과
cursor.execute("select * from COFFEE_BRAND")

brand_result = cursor.fetchall()
for result_iterator in brand_result :
    print(result_iterator)

(1, 'STARBUCKS')
(2, 'EDIYA')

문제 4.

스타벅스 페이지에 접근하는 코드에서 팝업창이 없는 경우, 팝업창을 닫는 코드에서 에러가 발생합니다. 예외처리 해서 에러
메시지를 출력하고 실행이 중단되지 않도록 수정해주세요.

In [9]:
# 제출 4
# 팝업 예외처리 코드 & 실행 결과 (ipynb)
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

driver = webdriver.Chrome()
driver.get("https://www.starbucks.co.kr/store/store_map.do")
time.sleep(10)

try :
    driver.find_element(By.CSS_SELECTOR, '.holiday_notice_close a').click()
except NoSuchElementException as e:
    print(e)

Message: no such element: Unable to locate element: {"method":"css selector","selector":".holiday_notice_close a"}
  (Session info: chrome=129.0.6668.103); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
0   chromedriver                        0x0000000104dc4500 cxxbridge1$str$ptr + 1917112
1   chromedriver                        0x0000000104dbc890 cxxbridge1$str$ptr + 1885256
2   chromedriver                        0x00000001049cc538 cxxbridge1$string$len + 89424
3   chromedriver                        0x0000000104a10878 cxxbridge1$string$len + 368784
4   chromedriver                        0x0000000104a4ab7c cxxbridge1$string$len + 607124
5   chromedriver                        0x0000000104a05374 cxxbridge1$string$len + 322444
6   chromedriver                        0x0000000104a05fc4 cxxbridge1$string$len + 325596
7   chromedriver                        0x0000000104d8bd2c cxxbridge1$str$ptr + 1685732
8   chromedriver                        0x0000000104d90530 cxxbridge1$str$ptr + 1704168
9   chromedriver                        0x0000000104d70e08 cxxbridge1$str$ptr + 1575360
10  chromedriver                        0x0000000104d90e00 cxxbridge1$str$ptr + 1706424
11  chromedriver                        0x0000000104d61f94 cxxbridge1$str$ptr + 1514316
12  chromedriver                        0x0000000104dad62c cxxbridge1$str$ptr + 1823204
13  chromedriver                        0x0000000104dad7ac cxxbridge1$str$ptr + 1823588
14  chromedriver                        0x0000000104dbc530 cxxbridge1$str$ptr + 1884392
15  libsystem_pthread.dylib             0x0000000185836f94 _pthread_start + 136
16  libsystem_pthread.dylib             0x0000000185831d34 thread_start + 8

문제 5.

Python 코드로 스타벅스 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트: 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 필요한 데이터를 한세트씩 가져와서 COFFEE_STORE 테이블에 각각INSERT 하도록 합니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [10]:
import time
from bs4 import BeautifulSoup as bs
from tqdm import tqdm

In [11]:
# '지역 검색' 태그 찾아서 클릭
search_region_tag = driver.find_element(By.CSS_SELECTOR, "#container > div > form > fieldset > div > section > article.find_store_cont > article > header.loca_search > h3 > a")
search_region_tag.click()
time.sleep(0.5)

# '서울' 태그 찾아서 클릭
seoul_tag = driver.find_element(By.CSS_SELECTOR, "#container > div > form > fieldset > div > section > article.find_store_cont > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a")
seoul_tag.click()
time.sleep(0.5)

# '전체' 태그 찾아서 클릭
gu_all_tag = driver.find_element(By.CSS_SELECTOR, "#mCSB_2_container > ul > li:nth-child(1) > a")
gu_all_tag.click()
time.sleep(0.5)

# '전체' 태그 선택 결과를 BeautifulSoup를 활용하여 html로 파싱
html = driver.page_source
soup = bs(html, 'html.parser')

# '서울 - 전체' 스타벅스 매장 정보 호출
datas = soup.select("#mCSB_3_container > ul > li")

sql = "insert into COFFEE_STORE (brand, name, gu_name, address, lat, lng) values (1, %s, %s, %s, %s, %s)"

# 각 매장별 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도 가져오기
for data in tqdm(datas) :
    name = data.select_one('strong').get_text().strip()
    address = data.select_one('p').get_text()[:-9]
    gu = address.split()[1]
    lat = data['data-lat']
    lng = data['data-long']

    cursor.execute(sql, (name, gu, address, lat, lng))
    remote.commit()

    time.sleep(0.5)

driver.quit()

100%|██████████| 621/621 [05:27<00:00,  1.90it/s]

제출 4.
- 팝업 예외처리 코드 & 실행 결과 (ipynb)

제출 5.
- 스타벅스 데이터 관련 코드 & 실행 결과 (ipynb)

In [12]:
# 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
cursor.execute('select count(*) from COFFEE_STORE where brand=1')
result_starbucks_cnt = cursor.fetchall()
result_starbucks_cnt[0][0]

621

In [13]:
# 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.
cursor.execute('select * from COFFEE_STORE where brand=1 limit 10')
result_starbucks_data10 = cursor.fetchall()
for data in result_starbucks_data10 :
    print(data)

(1, 1, '역삼아레나빌딩', '강남구', '서울특별시 강남구 언주로 425 (역삼동)', Decimal('37.50108700000000'), Decimal('127.04306900000000'))
(2, 1, '논현역사거리', '강남구', '서울특별시 강남구 강남대로 538 (논현동)', Decimal('37.51017800000000'), Decimal('127.02222300000000'))
(3, 1, '신사역성일빌딩', '강남구', '서울특별시 강남구 강남대로 584 (논현동)', Decimal('37.51393090000000'), Decimal('127.02060570000000'))
(4, 1, '국기원사거리', '강남구', '서울특별시 강남구 테헤란로 125 (역삼동)', Decimal('37.49951700000000'), Decimal('127.03149500000000'))
(5, 1, '대치재경빌딩', '강남구', '서울특별시 강남구 남부순환로 2947 (대치동)', Decimal('37.49466800000000'), Decimal('127.06258300000000'))
(6, 1, '봉은사역', '강남구', '서울특별시 강남구 봉은사로 619 (삼성동)', Decimal('37.51500000000000'), Decimal('127.06319600000000'))
(7, 1, '압구정윤성빌딩', '강남구', '서울특별시 강남구 논현로 834 (신사동)', Decimal('37.52279340000000'), Decimal('127.02860090000000'))
(8, 1, '코엑스별마당', '강남구', '서울특별시 강남구 영동대로 513 (삼성동)', Decimal('37.51015000000000'), Decimal('127.06027500000000'))
(9, 1, '삼성역섬유센터R', '강남구', '서울특별시 강남구 테헤란로 518 (대치동)', Decimal('37.50775000000000'), Decimal('127.06065100000000'))
(10, 1, '압구정R', '강남구', '서울특별시 강남구 언주로 861 (신사동)', Decimal('37.52736690000000'), Decimal('127.03306100000000'))

문제 6.

Python 코드로 이디야 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트 : 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 이디야 페이지에서 검색에 사용할 구 이름은 COFFEE_STORE 에서 중복을 제거하는 쿼리를 사용하여 가져와서 {‘서울 ‘ + 구이름} 형식으로 변환하여 사용하도록 합니다.
- 필요한 데이터를 한 세트씩 가져와서 COFFEE_STORE 테이블에 각각 INSERT 하도록 합니다.
- (주의) COFFEE_STORE 테이블에 입력할 구 이름은 {‘서울 ‘} 이 제거된 구 이름입니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [14]:
# 이디야 커피 url 접근
driver = webdriver.Chrome()
driver.get("https://www.ediya.com/contents/find_store.html#c")
time.sleep(10)

# '주소' 태그 찾아서 클릭
search_address_tag = driver.find_element(By.CSS_SELECTOR, '#contentWrap > div.contents > div > div.store_search_pop > ul > li:nth-child(2) > a')
search_address_tag.click()

In [15]:
# 이디야 페이지에서 검색에 사용할 구 이름은 COFFEE_STORE 에서 중복을 제거하는 쿼리를 사용하여 가져와서 {‘서울 ‘ + 구이름} 형식으로 변환하여 사용하도록 합니다.
cursor.execute("select distinct concat ('서울 ', gu_name) from COFFEE_STORE")

address_list = []
address_result = cursor.fetchall()

for address in address_result :
    address_list.append(address[0])

In [16]:
# 위도, 경도값을 가져오기 위한 google map api 호출
import googlemaps
import numpy as np

gmaps_key = "<gmaps api key>"
gmaps = googlemaps.Client(gmaps_key)

In [18]:
# 데이터 세트 : 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
# 필요한 데이터를 한 세트씩 가져와서 COFFEE_STORE 테이블에 각각 INSERT 하도록 합니다.
# (주의) COFFEE_STORE 테이블에 입력할 구 이름은 {‘서울 ‘} 이 제거된 구 이름입니다.
sql = 'insert into COFFEE_STORE (brand, name, gu_name, address, lat, lng) values (2, %s, %s, %s, %s, %s)'

for address in tqdm(address_list) :
    # 주소 입력 칸 태그를 찾고 새로운 주소 입력 후 돋보기 버튼 클릭
    input_address = driver.find_element(By.CSS_SELECTOR, "#keyword")
    input_address.send_keys(address)
    time.sleep(0.5)

    submit_btn = driver.find_element(By.CSS_SELECTOR, '#keyword_div > form > button')
    submit_btn.click()
    input_address.clear()
    time.sleep(0.5)

    # 클릭 결과 화면 HTML 파싱
    html = driver.page_source
    soup = bs(html, 'html.parser')
    datas = soup.select("#placesList > li.item")
    
    for data in datas :
        cafe_info = data.select_one("a").get_text()
        name = cafe_info.split()[0]
        address = cafe_info[len(name):].strip()
        gu = address.split()[1]

        tmp = gmaps.geocode(address, language='ko')
        lat = tmp[0].get('geometry')['location']['lat'] if tmp else np.nan
        lng = tmp[0].get('geometry')['location']['lng'] if tmp else np.nan

        cursor.execute(sql, (name, gu, address, lat, lng))
        remote.commit()

        time.sleep(0.5)

driver.quit()

100%|██████████| 25/25 [06:40<00:00, 16.01s/it]

제출 6.
- 이디야 데이터 관련 코드 & 실행 결과 (ipynb)

In [19]:
# 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
cursor.execute('select count(*) from COFFEE_STORE where brand=2')
result_ediya_cnt = cursor.fetchall()
result_ediya_cnt[0][0]

624

In [20]:
# 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.
cursor.execute('select * from COFFEE_STORE where brand=2 limit 10')
result_ediya_data10 = cursor.fetchall()
for data in result_ediya_data10 :
    print(data)

(622, 2, '강남YMCA점', '강남구', '서울 강남구 논현동', Decimal('37.51367870000000'), Decimal('127.03171240000000'))
(623, 2, '강남구청역아이티웨딩점', '강남구', '서울 강남구 학동로 338 (논현동, 강남파라곤)', Decimal('37.51655130000000'), Decimal('127.04013910000000'))
(624, 2, '강남논현학동점', '강남구', '서울 강남구 논현로131길 28 (논현동)', Decimal('37.51518990000000'), Decimal('127.02755390000000'))
(625, 2, '강남대치점', '강남구', '서울 강남구 역삼로 415 (대치동, 성진빌딩)', Decimal('37.50143400000000'), Decimal('127.05232800000000'))
(626, 2, '강남도산점', '강남구', '서울 강남구 도산대로37길 20 (신사동)', Decimal('37.52228210000000'), Decimal('127.03147990000000'))
(627, 2, '강남율현점', '강남구', '서울 강남구 밤고개로21길 8 (율현동, 세곡프라자)', Decimal('37.47358220000000'), Decimal('127.10783110000000'))
(628, 2, '개포동역점', '강남구', '서울 강남구 개포로82길 11 (개포동, 삼우빌딩)', Decimal('37.48893480000000'), Decimal('127.06793520000000'))
(629, 2, '건설회관점', '강남구', '서울 강남구 언주로 711 (논현동)', Decimal('37.51367870000000'), Decimal('127.03171240000000'))
(630, 2, '대청역점', '강남구', '서울 강남구 개포로109길 34 (개포동, 대청프라자)', Decimal('37.49421560000000'), Decimal('127.07761700000000'))
(631, 2, '대치역점', '강남구', '서울 강남구 남부순환로 2937 (대치동, 까치빌딩)', Decimal('37.49410070000000'), Decimal('127.06151900000000'))

문제 7.

Python 코드에서 다음의 데이터를 쿼리를 사용하여 조회하세요.

- 스타벅스 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 이디야 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수 출력)

In [21]:
# 제출 7
# 스타벅스 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
cursor.execute('select gu_name, count(*) from COFFEE_STORE where brand=1 group by gu_name order by count(*) desc limit 5')
starbucks_top5 = cursor.fetchall()
for data in starbucks_top5 :
    print(data)

('강남구', 93)
('중구', 52)
('서초구', 50)
('영등포구', 41)
('종로구', 39)

In [22]:
# 제출 7
# 이디야 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
cursor.execute('select gu_name, count(*) from COFFEE_STORE where brand=2 group by gu_name order by count(*) desc limit 5')
ediya_top5 = cursor.fetchall()
for data in ediya_top5 :
    print(data)

('강남구', 72)
('강서구', 53)
('영등포구', 33)
('종로구', 29)
('마포구', 28)

In [23]:
# 제출 7
# 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
# 스타벅스
cursor.execute("select gu_name, '스타벅스' as brand, count(*) from COFFEE_STORE where brand=1 group by gu_name")
gu_brand_result = cursor.fetchall()
for result in gu_brand_result :
    print(result)

('강남구', '스타벅스', 93)
('강북구', '스타벅스', 7)
('강서구', '스타벅스', 28)
('관악구', '스타벅스', 12)
('광진구', '스타벅스', 19)
('금천구', '스타벅스', 15)
('노원구', '스타벅스', 15)
('도봉구', '스타벅스', 7)
('동작구', '스타벅스', 11)
('마포구', '스타벅스', 37)
('서대문구', '스타벅스', 21)
('서초구', '스타벅스', 50)
('성북구', '스타벅스', 16)
('송파구', '스타벅스', 37)
('양천구', '스타벅스', 17)
('영등포구', '스타벅스', 41)
('은평구', '스타벅스', 14)
('종로구', '스타벅스', 39)
('중구', '스타벅스', 52)
('강동구', '스타벅스', 18)
('구로구', '스타벅스', 14)
('동대문구', '스타벅스', 12)
('성동구', '스타벅스', 14)
('용산구', '스타벅스', 24)
('중랑구', '스타벅스', 8)

In [25]:
# 제출 7
# 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
# 이디야
cursor.execute("select gu_name, '이디야' as brand, count(*) from COFFEE_STORE where brand=2 group by gu_name")
gu_brand_result = cursor.fetchall()
for result in gu_brand_result :
    print(result)

('강남구', '이디야', 72)
('강북구', '이디야', 22)
('강서구', '이디야', 53)
('관악구', '이디야', 19)
('광진구', '이디야', 16)
('금천구', '이디야', 17)
('노원구', '이디야', 19)
('도봉구', '이디야', 17)
('동작구', '이디야', 19)
('마포구', '이디야', 28)
('서대문구', '이디야', 18)
('서초구', '이디야', 27)
('성북구', '이디야', 25)
('송파구', '이디야', 23)
('양천구', '이디야', 20)
('영등포구', '이디야', 33)
('은평구', '이디야', 23)
('종로구', '이디야', 29)
('중구', '이디야', 27)
('강동구', '이디야', 23)
('구로구', '이디야', 21)
('동대문구', '이디야', 21)
('성동구', '이디야', 16)
('용산구', '이디야', 11)
('중랑구', '이디야', 25)

In [24]:
# 제출 7
# 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수 출력)
cursor.execute('select gu_name, sum(case when brand=1 then 1 else 0 end) 스타벅스_매장_개수, sum(case when brand=2 then 1 else 0 end) 이디야_매장_개수 from COFFEE_STORE group by gu_name')
result_cnt = cursor.fetchall()
for result in result_cnt:
    print(f'{result[0]}\t -  스타벅스 : {result[1]}, 이디야 : {result[2]}')

강남구	 -  스타벅스 : 93, 이디야 : 72
강북구	 -  스타벅스 : 7, 이디야 : 22
강서구	 -  스타벅스 : 28, 이디야 : 53
관악구	 -  스타벅스 : 12, 이디야 : 19
광진구	 -  스타벅스 : 19, 이디야 : 16
금천구	 -  스타벅스 : 15, 이디야 : 17
노원구	 -  스타벅스 : 15, 이디야 : 19
도봉구	 -  스타벅스 : 7, 이디야 : 17
동작구	 -  스타벅스 : 11, 이디야 : 19
마포구	 -  스타벅스 : 37, 이디야 : 28
서대문구	 -  스타벅스 : 21, 이디야 : 18
서초구	 -  스타벅스 : 50, 이디야 : 27
성북구	 -  스타벅스 : 16, 이디야 : 25
송파구	 -  스타벅스 : 37, 이디야 : 23
양천구	 -  스타벅스 : 17, 이디야 : 20
영등포구	 -  스타벅스 : 41, 이디야 : 33
은평구	 -  스타벅스 : 14, 이디야 : 23
종로구	 -  스타벅스 : 39, 이디야 : 29
중구	 -  스타벅스 : 52, 이디야 : 27
강동구	 -  스타벅스 : 18, 이디야 : 23
구로구	 -  스타벅스 : 14, 이디야 : 21
동대문구	 -  스타벅스 : 12, 이디야 : 21
성동구	 -  스타벅스 : 14, 이디야 : 16
용산구	 -  스타벅스 : 24, 이디야 : 11
중랑구	 -  스타벅스 : 8, 이디야 : 25

제출 7.
- 관련 코드 & 실행 결과 (ipynb)

문제 8.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작업)

- 전체 데이터를 가져오는데, 각 스타벅스 매장별로 이디야 전체 매장정보가 매칭되어 있어야 합니다. (정렬 : s_id, e_id 순)
- 다음의 형식으로 저장되어야 합니다. (브랜드 이름, 칼럼 명 주의)
- 데이터 프레임 출력을 해주세요. 데이터 프레임 미출력시 감점입니다.

In [26]:
# 전체 데이터를 가져오는데, 각 스타벅스 매장별로 이디야 전체 매장정보가 매칭되어 있어야 합니다. (정렬 : s_id, e_id 순)
# 다음의 형식으로 저장되어야 합니다. (브랜드 이름, 칼럼 명 주의)
import pandas as pd
cursor.execute("select starbucks.*, ediya.* from (select * from COFFEE_STORE where brand=1) as starbucks join (select * from COFFEE_STORE where brand=2) as ediya on starbucks.gu_name=ediya.gu_name")
datas = cursor.fetchall()

df = pd.DataFrame(datas)

df.columns = ['s_id', 's_brand', 's_name', 's_gu', 's_address', 's_lat', 's_lng',
              'e_id', 'e_brand', 'e_name', 'e_gu', 'e_address', 'e_lat', 'e_lng']

df = df.sort_values(by=['s_id', 'e_id'])
df = df.reset_index(drop=True)
df['s_brand'] = 'STARBUCKS'
df['e_brand'] = 'EDIYA'

In [27]:
# AWS RDS 연결 해제
remote.close()

In [30]:
# 저장
df.to_csv('[DS]sql1_kimtaeheon.csv')

In [31]:
df = pd.read_csv('[DS]sql1_kimtaeheon.csv', index_col=0)

df

,s_id,s_brand,s_name,s_gu,s_address,s_lat,s_lng,e_id,e_brand,e_name,e_gu,e_address,e_lat,e_lng
0,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,622,EDIYA,강남YMCA점,강남구,서울 강남구 논현동,37.513679,127.031712
1,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,623,EDIYA,강남구청역아이티웨딩점,강남구,"서울 강남구 학동로 338 (논현동, 강남파라곤)",37.516551,127.040139
2,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,624,EDIYA,강남논현학동점,강남구,서울 강남구 논현로131길 28 (논현동),37.515190,127.027554
3,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,625,EDIYA,강남대치점,강남구,"서울 강남구 역삼로 415 (대치동, 성진빌딩)",37.501434,127.052328
4,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,626,EDIYA,강남도산점,강남구,서울 강남구 도산대로37길 20 (신사동),37.522282,127.031480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19942,621,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35 1층,37.601709,127.078411,1241,EDIYA,중랑교차로점,중랑구,서울 중랑구 동일로 683 (면목동),37.591448,127.079882
19943,621,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35 1층,37.601709,127.078411,1242,EDIYA,중랑묵동점,중랑구,서울 중랑구 공릉로 42 (묵동),37.614411,127.078301
19944,621,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35 1층,37.601709,127.078411,1243,EDIYA,중랑역점,중랑구,서울 중랑구 망우로 198 (상봉동),37.593285,127.074889
19945,621,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35 1층,37.601709,127.078411,1244,EDIYA,중화동점,중랑구,서울 중랑구 동일로129길 1 (중화동),37.601957,127.086627
19946,621,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35 1층,37.601709,127.078411,1245,EDIYA,화랑대역점,중랑구,"서울 중랑구 신내로25가길 2 (묵동, 현동학당)",37.619451,127.084160

제출 8.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

---