<div align="center">
    <img src="images/zb-logo.png" alt="제로베이스" width="100%">
    <br>
    <a href="https://zerobaseschool.notion.site/DS-EDA-Lv-Test-b7d5e895c7cd4dda813c8fe2f2c23f79"><img src="images/openinnotion_logo.png" alt="EDA Lv Test Doc" width="12%"></a>

이 Jupyter Notebook 파일은 <a href="https://zero-base.co.kr/category_data_camp/school_DS">제로베이스</a>에서 제공하는 **EDA Level Test** 문제입니다.<br>
지금까지 공부하신 내용으로 데이터 분석에 대해 좀 더 연습할 수 있는 시간이 되셨으면 좋겠습니다.🙂<br>
**EDA Level Test**에 대한 안내 사항은 상단 **Open in ZeroBase Notion** 로고를 클릭하여 확인해주세요!<br>
반드시 시작 전에 내용을 숙지해주시기를 바랍니다!<br>
</div>

***

<h1 style="background-color:#9F81F7;color:#D8D8D8;font-weight:bold;display:inline-block;padding: 5px">EDA Level Test 09 ⭐️⭐️</h1>

| Week | Data Analysis | Difficulty | This Notebook |
|------|---------------|------------|-------|
| 1    | 서울시 인구 데이터 | ⭐️ ||
| 2    | 화장품 성분 데이터 | ⭐️⭐️⭐️ ||
| 3    | 올림픽 데이터 | ⭐️⭐️ ||
| 4    | 국가별 인터넷 사용률 데이터 |⭐️⭐️ ||
| 5    | 전국 박물관/미술관 정보 표준 데이터 | ⭐️⭐️⭐️ ||
| 6    | 서울시 흡연율 통계 데이터 | ⭐️⭐️ ||
| 7    | 웹크롤링 | ⭐️ ||
| 8    | 서울시 지하철 호선별 역별 유/무임 승하차 인원 정보 데이터 | ⭐️⭐️ ||
| 9    | 서울시 교통사고 현황 (사고유형별) 통계 데이터 | ⭐️⭐️ |👈|
| 10   | 서울시 교통사고 현황 (사고유형별) 통계 + 서울시 차량통행속도 (구별/월별) 통계 + 서울시 인구밀도 (구별) 통계 | ⭐️⭐️⭐️ ||

## 문제 소개 및 데이터 준비 단계

<div style="border: 1px solid black; padding: 10px;">

- 총 3단계 데이터 분석 상황 제시
<br></br>
    - 1단계: DataFrame 전처리
    - 2단계: Data 가공 및 추출
    - 3단계: 원하는 정보 얻기
<br></br>
    - 총점 100점

### Data 원본 출처

### Target Data(csv): 서울시 교통사고 현황 (사고유형별) 통계
- Source: [서울 열린데이터 광장](https://data.seoul.go.kr/dataList/322/S/2/datasetView.do)
- DownLoad: 상기 Source(서울 열린데이터 광장)에서 csv 파일 Download
    - 문제 출제 이후 Data 변경될 가능성이 있으므로 문제 풀이시 하기 File Path의 Data 사용
- File Path: ```'./datas/교통사고+현황(사고유형별).csv'```

### 참고사항
- 문제에 hint가 있을 경우, 해당 hint를 이용하지 않으셔도 무방합니다.

</div>

In [1]:
import pandas as pd
# 채점을 위한 코드입니다. 반드시 실행해주세요.
from grading import *

df_target = pd.read_csv('./datas/교통사고+현황(사고유형별).csv')
df_target

,자치구별(1),자치구별(2),사고유형별(1),사고유형별(2),구분별(1),1988,1989,1990,1991,1992,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,합계,소계,합계,소계,발생건수 (건),-,-,-,-,-,...,40829,39439,40792,41665,40039,38625,38795,39258,35227,33913
1,합계,소계,합계,소계,사망자수 (명),-,-,-,-,-,...,424,378,400,376,348,343,304,250,219,243
2,합계,소계,합계,소계,부상자수 (명),-,-,-,-,-,...,58583,56761,57345,58656,55669,53810,53751,53904,47513,45223
3,합계,소계,차대사람,소계,발생건수 (건),30877,35109,33606,33061,27165,...,10892,10683,11118,11318,10683,10249,9978,9896,7671,7075
4,합계,소계,차대사람,소계,사망자수 (명),-,-,-,-,-,...,235,215,214,211,196,189,182,139,113,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,합계,강동구,차대차,소계,사망자수 (명),-,-,-,-,-,...,7,4,6,7,4,8,4,4,4,2
314,합계,강동구,차대차,소계,부상자수 (명),-,-,-,-,-,...,1518,1472,1515,1583,1485,1366,1461,1420,1207,1152
315,합계,강동구,차량단독,소계,발생건수 (건),-,-,-,-,-,...,50,39,27,52,41,38,46,33,36,17
316,합계,강동구,차량단독,소계,사망자수 (명),-,-,-,-,-,...,1,4,1,2,2,-,-,-,-,-
317,합계,강동구,차량단독,소계,부상자수 (명),-,-,-,-,-,...,68,44,32,57,42,50,55,36,41,NaN

## 문제 시작! 🏃🏻

## 1단계: DataFrame 전처리
***

### 문제 1-1) DataFrame 전처리 01 - Column(열)명 수정 (10점)
- Column(열)명을 수정하고자 합니다.
<br></br>
- 위 2. Datas에서 불러온 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: ['자치구별(1)', '사고유형별(2)'] Column(열)을 삭제해주세요.
<br></br>
    - 조건2: ['자치구별(2)', '사고유형별(1)'] Column(열)명을 아래와 같이 변경해주세요.
        - '자치구별(2)' -> '자치구'
        - '사고유형별(1)' -> '사고유형'
        - '구분별(1)' -> '구분'
<br></br>
    - 조건3: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건4: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_01 함수에 입력하여 채점하세요.

In [2]:
# 1-1

df_target = df_target.drop(['자치구별(1)', '사고유형별(2)'], axis=1)
df_target = df_target.rename(columns = {'자치구별(2)' : '자치구', 
                          '사고유형별(1)' : '사고유형', 
                          '구분별(1)' : '구분'})

check_01_01(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 10 / 100

In [3]:
df_target

,자치구,사고유형,구분,1988,1989,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,소계,합계,발생건수 (건),-,-,-,-,-,-,-,...,40829,39439,40792,41665,40039,38625,38795,39258,35227,33913
1,소계,합계,사망자수 (명),-,-,-,-,-,-,-,...,424,378,400,376,348,343,304,250,219,243
2,소계,합계,부상자수 (명),-,-,-,-,-,-,-,...,58583,56761,57345,58656,55669,53810,53751,53904,47513,45223
3,소계,차대사람,발생건수 (건),30877,35109,33606,33061,27165,23245,19590,...,10892,10683,11118,11318,10683,10249,9978,9896,7671,7075
4,소계,차대사람,사망자수 (명),-,-,-,-,-,-,-,...,235,215,214,211,196,189,182,139,113,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,강동구,차대차,사망자수 (명),-,-,-,-,-,-,-,...,7,4,6,7,4,8,4,4,4,2
314,강동구,차대차,부상자수 (명),-,-,-,-,-,-,-,...,1518,1472,1515,1583,1485,1366,1461,1420,1207,1152
315,강동구,차량단독,발생건수 (건),-,-,-,-,-,-,-,...,50,39,27,52,41,38,46,33,36,17
316,강동구,차량단독,사망자수 (명),-,-,-,-,-,-,-,...,1,4,1,2,2,-,-,-,-,-
317,강동구,차량단독,부상자수 (명),-,-,-,-,-,-,-,...,68,44,32,57,42,50,55,36,41,NaN

### 문제 1-2) DataFrame 전처리 02 - 특정 Column(열) Data 수정 (10점)
- Data를 수정하고자 합니다.
<br></br>
- 위 1-1 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: '구분' Column(열) Data를 아래와 같이 변경해주세요.
        - 괄호 및 괄호 안의 내용 삭제
        - 값 앞뒤에 공백(띄어쓰기 등) 삭제
            - 발생건수 (건) -> 발생건수
            - 사망자수 (명)	-> 사망자수
            - 부상자수 (명)	-> 부상자수
<br></br>
    - 조건2: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건3: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_02 함수에 입력하여 채점하세요.

In [4]:
# 1-2

df_target['구분'] = df_target['구분'].str.split(' ').str[0]

check_01_02(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 20 / 100

In [5]:
df_target

,자치구,사고유형,구분,1988,1989,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,소계,합계,발생건수,-,-,-,-,-,-,-,...,40829,39439,40792,41665,40039,38625,38795,39258,35227,33913
1,소계,합계,사망자수,-,-,-,-,-,-,-,...,424,378,400,376,348,343,304,250,219,243
2,소계,합계,부상자수,-,-,-,-,-,-,-,...,58583,56761,57345,58656,55669,53810,53751,53904,47513,45223
3,소계,차대사람,발생건수,30877,35109,33606,33061,27165,23245,19590,...,10892,10683,11118,11318,10683,10249,9978,9896,7671,7075
4,소계,차대사람,사망자수,-,-,-,-,-,-,-,...,235,215,214,211,196,189,182,139,113,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,강동구,차대차,사망자수,-,-,-,-,-,-,-,...,7,4,6,7,4,8,4,4,4,2
314,강동구,차대차,부상자수,-,-,-,-,-,-,-,...,1518,1472,1515,1583,1485,1366,1461,1420,1207,1152
315,강동구,차량단독,발생건수,-,-,-,-,-,-,-,...,50,39,27,52,41,38,46,33,36,17
316,강동구,차량단독,사망자수,-,-,-,-,-,-,-,...,1,4,1,2,2,-,-,-,-,-
317,강동구,차량단독,부상자수,-,-,-,-,-,-,-,...,68,44,32,57,42,50,55,36,41,NaN

### 문제 1-3) DataFrame 전처리 03 - Data Type 변경 (10점)
- Data Type을 수정하고자 합니다.
<br></br>
- 위 1-2 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: ['1988', '1989', ..., '2020', '2021'] Column(열) Data 중 '**-**'인 Data를 숫자 **0**(**정수형**)으로 변경해주세요.
<br></br>
    - 조건2: ['1988', '1989', ..., '2020', '2021'] Column(열) Data 중 **nan**인 Data를 숫자 **0**(**정수형**)으로 변경해주세요.
<br></br>
    - 조건3: ['1988', '1989', ..., '2020', '2021'] Column(열) Data 중 **전부 숫자**로 구성 되어있는 Data의 Type을 **정수형**으로 변경해주세요.
<br></br>
    - 조건4: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건5: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - hint: ['1988', '1989', ..., '2020', '2021'] Column(열) Data의 Type은 int(int64)가 되어야 합니다.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_03 함수에 입력하여 채점하세요.

In [6]:
# 1-3
change_columns = df_target.iloc[:, 3:].columns

df_target[change_columns] = df_target[change_columns].replace('-', 0)
df_target[change_columns] = df_target[change_columns].fillna(0)
df_target[change_columns] = df_target[change_columns].astype('int')

check_01_03(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 30 / 100

In [7]:
df_target

,자치구,사고유형,구분,1988,1989,1990,1991,1992,1993,1994,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,소계,합계,발생건수,0,0,0,0,0,0,0,...,40829,39439,40792,41665,40039,38625,38795,39258,35227,33913
1,소계,합계,사망자수,0,0,0,0,0,0,0,...,424,378,400,376,348,343,304,250,219,243
2,소계,합계,부상자수,0,0,0,0,0,0,0,...,58583,56761,57345,58656,55669,53810,53751,53904,47513,45223
3,소계,차대사람,발생건수,30877,35109,33606,33061,27165,23245,19590,...,10892,10683,11118,11318,10683,10249,9978,9896,7671,7075
4,소계,차대사람,사망자수,0,0,0,0,0,0,0,...,235,215,214,211,196,189,182,139,113,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,강동구,차대차,사망자수,0,0,0,0,0,0,0,...,7,4,6,7,4,8,4,4,4,2
314,강동구,차대차,부상자수,0,0,0,0,0,0,0,...,1518,1472,1515,1583,1485,1366,1461,1420,1207,1152
315,강동구,차량단독,발생건수,0,0,0,0,0,0,0,...,50,39,27,52,41,38,46,33,36,17
316,강동구,차량단독,사망자수,0,0,0,0,0,0,0,...,1,4,1,2,2,0,0,0,0,0
317,강동구,차량단독,부상자수,0,0,0,0,0,0,0,...,68,44,32,57,42,50,55,36,41,0

### 문제 1-4) DataFrame 전처리 04 - Index 설정 (10점)
- Index를 설정하고자 합니다.
<br></br>
- 위 1-3 DataFrame(df_target)을 아래 예시 및 조건에 맞게 변경하세요.
<br></br>
    - 예시: df_target.iloc[:26]
<br></br>
    <img src="images/09-1-4-001.png" style="margin:auto" width=800/>
<br></br>
<br></br>
    - 조건1: '자치구' Column(열) Data 중 '**소계**'인 Data를 '**서울시**'로 변경해주세요.
<br></br>
    - 조건2: ['자치구', '사고유형', '구분'] 'Column(열)을 Index로 설정해주세요.
<br></br>
    - 조건3: 상기 조건 이외의 Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건4: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_04 함수에 입력하여 채점하세요.

In [8]:
# 1-4

# 조건1
df_target['자치구'] = df_target['자치구'].replace('소계', '서울시')

# 조건2
df_target = df_target.pivot_table(df_target, index=['자치구', '사고유형', '구분'], sort=False)

check_01_04(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 40 / 100

In [9]:
df_target

                1988   1989   1990   1991   1992   1993   1994   1995   1996  \
자치구 사고유형 구분
서울시 합계   발생건수      0      0      0      0      0      0      0      0      0
         사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0
    차대사람 발생건수  30877  35109  33606  33061  27165  23245  19590  16653  16098
         사망자수      0      0      0      0      0      0      0      0      0
...              ...    ...    ...    ...    ...    ...    ...    ...    ...
강동구 차대차  사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0
    차량단독 발생건수      0      0      0      0      0      0      0      0      0
         사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0

                1997  ...   2012   2013   2014   2015   2016   2017   2018  \
자치구 사고유형 구분           ...
서울시 합계   발생건수      0  ...  40829  39439  40792  41665  40039  38625  38795
         사망자수      0  ...    424    378    400    376    348    343    304
         부상자수      0  ...  58583  56761  57345  58656  55669  53810  53751
    차대사람 발생건수  13086  ...  10892  10683  11118  11318  10683  10249   9978
         사망자수      0  ...    235    215    214    211    196    189    182
...              ...  ...    ...    ...    ...    ...    ...    ...    ...
강동구 차대차  사망자수      0  ...      7      4      6      7      4      8      4
         부상자수      0  ...   1518   1472   1515   1583   1485   1366   1461
    차량단독 발생건수      0  ...     50     39     27     52     41     38     46
         사망자수      0  ...      1      4      1      2      2      0      0
         부상자수      0  ...     68     44     32     57     42     50     55

                2019   2020   2021
자치구 사고유형 구분
서울시 합계   발생건수  39258  35227  33913
         사망자수    250    219    243
         부상자수  53904  47513  45223
    차대사람 발생건수   9896   7671   7075
         사망자수    139    113    120
...              ...    ...    ...
강동구 차대차  사망자수      4      4      2
         부상자수   1420   1207   1152
    차량단독 발생건수     33     36     17
         사망자수      0      0      0
         부상자수     36     41      0

[318 rows x 34 columns]

### 문제 1-5) DataFrame 전처리 05 - 값 채우기 (10점)
- 0인 값 중 일부를 채우고자 합니다.
<br></br>
- 위 1-4 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: 현재 **값이 0**인 ['1988', '1989', ..., '2003', '2004'] Column(열)의 **'서울시'-'합계'-'발생건수'** Row(행) Data를 채워주세요.
<br></br>
        - 각 자치구('서울시' 포함) '합계'-'발생건수'는 '차대사람'-'발생건수', '차대차'-'발생건수', '차량단독'-'발생건수', '건널목'-'발생건수'의 합입니다.
<br></br>
        - 예시: '용산구'의 2005~2006년 Data
<br></br>
            - 2005년 '용산구'-'합계'-'발생건수' 1360 =  '차대사람'-'발생건수' 230 + '차대차'-'발생건수' 1082 + '차량단독'-'발생건수' 48 + '건널목'-'발생건수' 0
<br></br>
        <img src="images/09-1-5-001.png" style="margin:auto" width=250/>
<br></br>
    - 조건2: 상기 조건 이외의 Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건3: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - 참고
        - Coding 방식에 따라 **SettingWithCopyWarning** 이 발생할 수 있습니다.
        - 해당 경고(Warning)가 발생하더라도 정답 인정 여부와는 상관 없습니다.
        - 경고(Warning)가 거슬린다면, ```pd.set_option('mode.chained_assignment',  None)``` 설정을 진행하시면 됩니다.
        - 다만 경고(Warning)가 안나오게끔 진행하시길 추천드립니다.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_05 함수에 입력하여 채점하세요.

In [10]:
# 1-5
change_columns = df_target.iloc[:, :17].columns
gu_indexes = df_target.index.get_level_values(0).unique()

for gu in gu_indexes : 
    for column in change_columns :
        if len(df_target.loc[gu].index.get_level_values(0).unique()) == 5:
            df_target[column].loc[(gu, '합계', '발생건수')] = df_target[column].loc[(gu, '차대사람', '발생건수')] + df_target[column].loc[(gu, '차대차', '발생건수')] + df_target[column].loc[(gu, '차량단독', '발생건수')] + df_target[column].loc[(gu, '건널목', '발생건수')]
        else :
            df_target[column].loc[(gu, '합계', '발생건수')] = df_target[column].loc[(gu, '차대사람', '발생건수')] + df_target[column].loc[(gu, '차대차', '발생건수')] + df_target[column].loc[(gu, '차량단독', '발생건수')]

check_01_05(df_target)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 50 / 100

In [11]:
df_target

                1988   1989   1990   1991   1992   1993   1994   1995   1996  \
자치구 사고유형 구분
서울시 합계   발생건수  56008  63835  58231  56528  51333  49422  46479  42100  46031
         사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0
    차대사람 발생건수  30877  35109  33606  33061  27165  23245  19590  16653  16098
         사망자수      0      0      0      0      0      0      0      0      0
...              ...    ...    ...    ...    ...    ...    ...    ...    ...
강동구 차대차  사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0
    차량단독 발생건수      0      0      0      0      0      0      0      0      0
         사망자수      0      0      0      0      0      0      0      0      0
         부상자수      0      0      0      0      0      0      0      0      0

                1997  ...   2012   2013   2014   2015   2016   2017   2018  \
자치구 사고유형 구분           ...
서울시 합계   발생건수  40863  ...  40829  39439  40792  41665  40039  38625  38795
         사망자수      0  ...    424    378    400    376    348    343    304
         부상자수      0  ...  58583  56761  57345  58656  55669  53810  53751
    차대사람 발생건수  13086  ...  10892  10683  11118  11318  10683  10249   9978
         사망자수      0  ...    235    215    214    211    196    189    182
...              ...  ...    ...    ...    ...    ...    ...    ...    ...
강동구 차대차  사망자수      0  ...      7      4      6      7      4      8      4
         부상자수      0  ...   1518   1472   1515   1583   1485   1366   1461
    차량단독 발생건수      0  ...     50     39     27     52     41     38     46
         사망자수      0  ...      1      4      1      2      2      0      0
         부상자수      0  ...     68     44     32     57     42     50     55

                2019   2020   2021
자치구 사고유형 구분
서울시 합계   발생건수  39258  35227  33913
         사망자수    250    219    243
         부상자수  53904  47513  45223
    차대사람 발생건수   9896   7671   7075
         사망자수    139    113    120
...              ...    ...    ...
강동구 차대차  사망자수      4      4      2
         부상자수   1420   1207   1152
    차량단독 발생건수     33     36     17
         사망자수      0      0      0
         부상자수     36     41      0

[318 rows x 34 columns]

## 2단계: Data 가공 및 추출
***

### 문제 2-1) Data 가공 및 추출 01 - 일부 Data 추출 및 Index 수정 (10점)
- 일부 Data('발생건수')만 추출하고, 불필요한 Index('구분')를 지우려고 합니다.
<br></br>
- 위 1-5 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: 각 자치구('서울시' 포함) / 사고유형별 '발생건수' Row(행) Data만 추출하세요.
<br></br>
    - 조건2: '구분' Index를 제거하세요.
<br></br>
    - 조건3: 상기 조건 이외의 Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
        - 기존 DataFrame(df_target)에서 Index/Column 순서 그대로 '발생건수'만 추출해야 합니다.
<br></br>
        - 예시: df_result.iloc[:14], 모든 값에 0 입력
<br></br>
        <img src="images/09-2-1-001.png" style="margin:auto" width=800/>
<br></br>
    - 조건4: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_result)를 check_02_01 함수에 입력하여 채점하세요.

In [12]:
# 2-1
df_result = df_target[df_target.index.get_level_values(2)=='발생건수']
df_result = df_result.droplevel(level=2)

check_02_01(df_result)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 60 / 100

In [13]:
df_result

           1988   1989   1990   1991   1992   1993   1994   1995   1996  \
자치구 사고유형
서울시 합계    56008  63835  58231  56528  51333  49422  46479  42100  46031
    차대사람  30877  35109  33606  33061  27165  23245  19590  16653  16098
    차대차   23899  27129  23734  22949  23724  25876  26475  24927  29406
    차량단독   1210   1592    891    516    443    300    412    520    527
    건널목      22      5      0      2      1      1      2      0      0
...         ...    ...    ...    ...    ...    ...    ...    ...    ...
송파구 차량단독      0      0      0      0      0      0      0      0      0
강동구 합계        0      0      0      0      0      0      0      0      0
    차대사람      0      0      0      0      0      0      0      0      0
    차대차       0      0      0      0      0      0      0      0      0
    차량단독      0      0      0      0      0      0      0      0      0

           1997  ...   2012   2013   2014   2015   2016   2017   2018   2019  \
자치구 사고유형         ...
서울시 합계    40863  ...  40829  39439  40792  41665  40039  38625  38795  39258
    차대사람  13086  ...  10892  10683  11118  11318  10683  10249   9978   9896
    차대차   27414  ...  28537  27358  28201  28854  28030  27103  27522  28150
    차량단독    363  ...   1399   1398   1473   1493   1326   1273   1295   1212
    건널목       0  ...      1      0      0      0      0      0      0      0
...         ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
송파구 차량단독      0  ...     84    102     85     94     91     76    105     90
강동구 합계        0  ...   1458   1356   1442   1494   1426   1371   1418   1414
    차대사람      0  ...    438    402    452    479    426    427    394    437
    차대차       0  ...    970    915    963    963    959    906    978    944
    차량단독      0  ...     50     39     27     52     41     38     46     33

           2020   2021
자치구 사고유형
서울시 합계    35227  33913
    차대사람   7671   7075
    차대차   26508  25926
    차량단독   1048    912
    건널목       0      0
...         ...    ...
송파구 차량단독     53     57
강동구 합계     1268   1047
    차대사람    342    242
    차대차     890    788
    차량단독     36     17

[107 rows x 34 columns]

### 문제 2-2) Data 가공 및 추출 02 - 일부 Data 추출 및 Index 수정 (20점)
- 일부 Data('사망자수')만 추출하고, Index 수정(위치/정렬) 및 삭제('구분')하고자 합니다.
<br></br>
- 위 1-5 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: 각 자치구('서울시' 포함) / 사고유형별 '사망자수' Row(행) Data만 추출하세요.
<br></br>
    - 조건2: '구분' Index를 제거하세요.
<br></br>
    - 조건3: Index는 아래와 같이 변경하세요.
        - '자치구'와 '사고유형'의 위치를 바꾸어주세요.
        - '사고유형' Index는 아래 type_list의 순서와 동일하게 정렬해주세요.
        - '자치구' Index는 아래 gu_list의 순서와 동일하게 정렬해주세요.
        - '사고유형' Index를 우선하여 정렬하여 주세요.
<br></br>
        - 예시: df_result.iloc[:30], 모든 값에 0 입력
<br></br>
        <img src="images/09-2-2-001.png" style="margin:auto" width=800/>
<br></br>
    - 조건4: 상기 조건 이외의 Column 순서는 변경하지 마세요.
<br></br>
    - 조건5: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_result)를 check_02_02 함수에 입력하여 채점하세요.

# 문제에 2005~2021년 컬럼만 가져오는 걸로 수정해야할 것 같ㅅ습니다. 조건3 예시 이미지 보고 2005년인거 확인해서 풀었습니다. 수정부탁드립니다!

In [14]:
type_list = ['합계', '차대사람', '차대차', '차량단독', '건널목']
gu_list = ['서울시', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구']

In [15]:
# 2-2
# 조건1,2
df_result = df_target[df_target.index.get_level_values(2) == '사망자수']
df_result = df_result.droplevel(level=2)

# '자치구', '사고유형' 자리바꿈
df_result = df_result.swaplevel()

# '사고유형' index는 type_list 순서와 동일하게
df_result = df_result.reindex(type_list, level=0)

df_result = df_result.iloc[:, 17:]

check_02_02(df_result)
display(df_result)

정답입니다! 20점 누적 되었습니다!
현재 누적 점수: 80 / 100

          2005  2006  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
사고유형 자치구
합계   서울시   485   452   452   482   501   429   435   424   378   400   376
     종로구    24    15    12    23    18    19    14    12    13    11     8
     중구     13    16    12    13    12     7    13    12    10     7     8
     용산구    20    14    20    19    20    15     9    11    13     8    18
     성동구    13    15    16    17    13    15    21     6     8    11     8
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
차량단독 관악구     2     3     3     3     1     3     3     4     0     3     0
     서초구     5     7     4     1     5     2     3     4     1     4     3
     강남구     3     7     3     1     4     8     5     2     2     0     4
     송파구     4     5     3     3     1     2     2     1     2     2     1
     강동구     2     2     5     5     2     1     1     1     4     1     2

          2016  2017  2018  2019  2020  2021
사고유형 자치구
합계   서울시   348   343   304   250   219   243
     종로구     9    13     6     6     5     6
     중구     17     4     9     5     6     3
     용산구    12    12    14    10    12     5
     성동구    15    15     9    13     9     8
...        ...   ...   ...   ...   ...   ...
차량단독 관악구     1     0     1     0     2     0
     서초구     1     2     1     0     0     0
     강남구     1     1     1     1     2     2
     송파구     1     1     1     1     2     1
     강동구     2     0     0     0     0     0

[104 rows x 17 columns]

## 3단계: 원하는 정보 얻기
***

### 문제 3) 원하는 정보 얻기 - 사망률 (20점)
- 2005년 이후 교통사고 발생시 '사망률'을 구하고자 합니다.
<br></br>
- 위 1-5 DataFrame(df_target)을 아래 조건에 맞게 변경하세요.
<br></br>
    - 조건1: 2005년부터 2021년까지 각 자치구('서울시' 포함) / 사고유형별 '사망률'을 구하고자 합니다.
<br></br>
        - '사망률' = '사망자수' / '발생건수' * 100
<br></br>
        - 소숫점 셋째자리에서 반올림하여 두번째자리까지 표기해주세요.
<br></br>
        - 특정 자치구의 사고유형 중 '사망자수' 또는 '발생건수'가 없다면 계산하지 말고 넘어가세요.
<br></br>
        - 예시1
            - 2005년 '서울시'-'차대사람'의 '사망률' 2.51 = 2005년 '서울시'-'차대사람'-'사망자수' 229 / 2005년 '서울시'-'차대사람'-'발생건수' 9111 * 100
<br></br>
        - 예시2
<br></br>
        <img src="images/09-3-001.png" style="margin:auto" width=600/>
<br></br>
    - 조건2: '구분' Index를 제거하세요.
<br></br>
    - 조건3: 상기 조건 이외의 Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
        - 기존 DataFrame(df_target)에서 Index/Column 순서에 맞추어 '사망률'만 나타내야 합니다.
            - '사고유형' Index는 아래 type_list의 순서와 동일하게 정렬되어야 합니다.
            - '자치구' Index는 아래 gu_list의 순서와 동일하게 정렬되어야 합니다.
<br></br>
        - 예시: df_result, 모든 값에 0 입력
<br></br>
        <img src="images/09-3-002.png" style="margin:auto" width=800/>
<br></br>
    - 조건4: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_result)를 check_03 함수에 입력하여 채점하세요.

In [16]:
type_list = ['합계', '차대사람', '차대차', '차량단독', '건널목']
gu_list = ['서울시', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구']

In [17]:
# 3
# 특정 자치구의 사고유형 중 '사망자수' 또는 '발생건수'가 없다면 계산하지 말고 넘어가세요.
df_result = df_target.loc[df_target.index.get_level_values(2).isin(['발생건수', '사망자수'])]
df_result = df_result.iloc[:, 17:]  # 2005년부터

for gu in gu_list :
    for type in type_list :
        type_dead_num = (gu, type, '사망자수')
        type_case_num = (gu, type, '발생건수')
        if type_dead_num in df_result.index and type_case_num in df_result.index :
             df_result.loc[(gu, type, '사망률')] = round((df_result.loc[(gu, type, '사망자수')] / df_result.loc[(gu, type, '발생건수')]) * 100, 2)


df_result = df_result.loc[df_result.index.get_level_values(2) == '사망률']
df_result = df_result.droplevel(level=2)

check_03(df_result)

정답입니다! 20점 누적 되었습니다!
현재 누적 점수: 100 / 100

In [18]:
df_result

           2005   2006   2007   2008  2009  2010  2011  2012   2013  2014  \
자치구 사고유형
서울시 합계     1.26   1.18   1.15   1.16  1.13  1.03  1.08  1.04   0.96  0.98
    차대사람   2.51   2.39   2.34   2.45  2.19  2.07  2.26  2.16   2.01  1.92
    차대차    0.68   0.64   0.59   0.56  0.63  0.50  0.46  0.48   0.44  0.53
    차량단독   7.91   6.95   7.02   5.06  4.36  4.46  4.66  3.79   3.00  2.44
종로구 합계     1.60   1.10   0.75   1.47  1.14  1.32  0.99  0.87   1.02  0.84
...         ...    ...    ...    ...   ...   ...   ...   ...    ...   ...
송파구 차량단독  10.00  10.42   6.52   5.26  1.89  2.22  2.99  1.19   1.96  2.35
강동구 합계     1.43   1.26   1.28   0.77  1.42  0.99  0.91  1.23   0.88  0.97
    차대사람   1.55   1.99   1.69   1.43  1.15  1.95  1.18  2.28   1.00  1.55
    차대차    1.19   0.78   0.68   0.09  1.42  0.52  0.72  0.72   0.44  0.62
    차량단독  10.00   7.14  16.67  13.16  3.92  3.03  3.12  2.00  10.26  3.70

          2015  2016  2017  2018  2019  2020  2021
자치구 사고유형
서울시 합계    0.90  0.87  0.89  0.78  0.64  0.62  0.72
    차대사람  1.86  1.83  1.84  1.82  1.40  1.47  1.70
    차대차   0.40  0.43  0.43  0.35  0.30  0.30  0.35
    차량단독  3.28  2.41  2.91  2.01  2.23  2.48  3.40
종로구 합계    0.57  0.69  1.09  0.53  0.53  0.55  0.77
...        ...   ...   ...   ...   ...   ...   ...
송파구 차량단독  1.06  1.10  1.32  0.95  1.11  3.77  1.75
강동구 합계    1.54  1.19  1.39  0.85  0.78  0.55  0.86
    차대사람  2.92  2.58  2.58  2.03  1.60  0.88  2.89
    차대차   0.73  0.42  0.88  0.41  0.42  0.45  0.25
    차량단독  3.85  4.88  0.00  0.00  0.00  0.00  0.00

[104 rows x 17 columns]

***

### 🎊 문제가 끝났습니다. 제출양식과 일정에 맞춰 제출해주시기를 바랍니다!

### 제출양식
- 이 파일은 EDA TEST 9회차 노트북입니다. 따라서 제출시 파일명은 아래와 같습니다.
- [DS]edalvtest_09_yourname.ipynb

***

# 문의사항 및 의견이 있는 경우 작성해주세요.