# 제로베이스 데이터 사이언스 스쿨 3기 SQL 과제 2
- 유가 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 30점
- 5번 10점
- 6번 10점
- 7번 15점
- 8번 15점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

In [48]:
## 환경
# 이전 과제에서 생성한 AWS RDS (MySQL) 의 Database 및 사용자를 사용하세요.
#  - Database Name : oneday
#  - User Name / Password : oneday / 1234

# AWS RDS 연결
import mysql.connector

remote = mysql.connector.connect(
    host = "database-1.c1cq6saoqqn3.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = "<AWS RDS admin password>"
)

cursor = remote.cursor(buffered=True)

# db 선택
cursor.execute("use oneday")

문제 1.

주유소 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [34]:
# database 생성
cursor.execute("create table GAS_BRAND(id int not null auto_increment primary key, name varchar(16))")
cursor.execute("create table GAS_STATION(id int not null auto_increment primary key, brand int, name varchar(64), city varchar(2), gu varchar(10), address varchar(128), gasoline int, diesel int, self bool, car_wach bool, charging_station bool, car_maintenance bool, convenience_store bool, 24_hours bool, lat decimal(16, 14), lng decimal(17, 14), foreign key (brand) references GAS_BRAND(id))")

문제 2.

Python 코드로 GAS_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [35]:
cursor.execute("insert into GAS_BRAND values (1, 'SK에너지')")
cursor.execute("insert into GAS_BRAND values (2, '현대오일뱅크')")
cursor.execute("insert into GAS_BRAND values (3, 'GS칼텍스')")
cursor.execute("insert into GAS_BRAND values (4, 'S-OIL')")
cursor.execute("insert into GAS_BRAND values (5, '알뜰주유소')")
cursor.execute("insert into GAS_BRAND values (6, '자가상표')")
remote.commit()

제출 1.
- Table 생성 결과 : Desc GAS_BRAND; Desc GAS_STATION;

In [36]:
# 제출 1.
# Table 생성 결과 : DESC GAS_BRAND

cursor.execute("desc GAS_BRAND")

brand_result = cursor.fetchall()
for result_iterator in brand_result :
    print(result_iterator)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(16)', 'YES', '', None, '')

In [37]:
# 제출 1.
# Table 생성 결과 : DESC GAS_STATION

cursor.execute("desc GAS_STATION")

station_result = cursor.fetchall()
for result_iterator in station_result :
    print(result_iterator)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('brand', 'int', 'YES', 'MUL', None, '')
('name', 'varchar(64)', 'YES', '', None, '')
('city', 'varchar(2)', 'YES', '', None, '')
('gu', 'varchar(10)', 'YES', '', None, '')
('address', 'varchar(128)', 'YES', '', None, '')
('gasoline', 'int', 'YES', '', None, '')
('diesel', 'int', 'YES', '', None, '')
('self', 'tinyint(1)', 'YES', '', None, '')
('car_wach', 'tinyint(1)', 'YES', '', None, '')
('charging_station', 'tinyint(1)', 'YES', '', None, '')
('car_maintenance', 'tinyint(1)', 'YES', '', None, '')
('convenience_store', 'tinyint(1)', 'YES', '', None, '')
('24_hours', 'tinyint(1)', 'YES', '', None, '')
('lat', 'decimal(16,14)', 'YES', '', None, '')
('lng', 'decimal(17,14)', 'YES', '', None, '')

제출 2.
- GAS_BRAND 조회 결과 : SELECT * FROM GAS_BRAND;

In [38]:
# 제출 2
# GAS_BRAND 조회 결과 : SELECT * FROM GAS_BRAND;

cursor.execute("select * from GAS_BRAND")

brand_data = cursor.fetchall()
for result_iterator in brand_data :
    print(result_iterator)

(1, 'SK에너지')
(2, '현대오일뱅크')
(3, 'GS칼텍스')
(4, 'S-OIL')
(5, '알뜰주유소')
(6, '자가상표')

문제 3.

다음의 함수와 그 함수를 테스트하는 코드를 작성하세요. (PDF 파일 참고)

- 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수 (테스트 입력 : ‘1,000’)
- 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID 를 반환하는 함수 (테스트 입력 : ‘SK에너지’) - 주소를 입력받아 구 이름을 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)
- 주소를 입력받아 위도, 경도를 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)

제출 3.
- 각 함수 및 테스트 코드와 실행결과

In [39]:
import googlemaps


# 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수
def str2int(str) :
    if str != '' :
        return int(''.join(str.split(',')))

# 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID를 반환하는 함수
def search_id(gas_brand) :
    cursor.execute("select * from GAS_BRAND")
    result = cursor.fetchall()

    for result_iterator in result :
        if gas_brand in result_iterator[1] :
            id = result_iterator[0]
        else :
            if gas_brand == 'HD현대오일뱅크' :
                id = 2
            elif gas_brand == '알뜰(ex)' :
                id = 5

    return id


# 주소를 입력받아 구 이름을 반환하는 함수
def search_gu(address) :
    split_address = address.split()
    gu = split_address[1]

    return gu

# 주소를 입력받아 위도, 경도를 반환하는 함수
def search_latlng(address) :
    gmaps_key = "AIzaSyAApXA75cS4g5TY6mZ55LAltw4o4rMFuvE"
    gmaps = googlemaps.Client(key=gmaps_key)
    map_info = gmaps.geocode(address, language='ko')
    lat = map_info[0].get('geometry')['location']['lat']
    lng = map_info[0].get('geometry')['location']['lng']
    
    return lat, lng

In [40]:
# 함수 결과 출력

# 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수
result1 = str2int('1,000')
result2 = search_id('SK에너지')
result3 = search_gu('서울시 강남구 헌릉로 730')
result4 = search_latlng('서울시 강남구 헌릉로 730')

print(result1)
print(result2)
print(result3)
print(result4)

1000
1
강남구
(37.4665675, 127.1190803)

문제 4.

Python 코드에서 주유소 페이지에서 데이터를 가져올때, GAS_STATION 테이블에 바로 입력하도록 수정하세요. (앞서 생 성한 함수활용)
- 주의. city 는 ‘서울’ 로 고정, 부가정보 데이터 타입
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다. - 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.


제출 4.
- 주유소 데이터 관련 코드 (ipynb)

In [41]:
# 제출 4
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from tqdm import tqdm
from bs4 import BeautifulSoup as bs

driver = webdriver.Chrome()
driver.get("https://www.opinet.co.kr/searRgSelect.do")

In [42]:
# 시 선택 박스를 서울로 맞춰주는 작업
sido_list_raw = driver.find_element(By.ID, "SIDO_NM0")
sido_list = sido_list_raw.find_elements(By.TAG_NAME, "option")
sido_names = [option.get_attribute("value") for option in sido_list]
sido_list_raw.send_keys(sido_names[1])

In [43]:
# 서울시의 각 구 이름
gu_list_raw = driver.find_element(By.ID, "SIGUNGU_NM0")
gu_list = gu_list_raw.find_elements(By.TAG_NAME, "option")
gu_names = [option.get_attribute("value") for option in gu_list]
gu_names = gu_names[1:]

In [44]:
# 각 구를 입력하여 서울시 모든 구의 주유소 정보 가져오기
# 가져온 데이터는 바로 GAS_STATION 테이블에 insert
sql = "insert into GAS_STATION (brand, name, city, gu, address, gasoline, diesel, self, car_wach, charging_station, car_maintenance, convenience_store, 24_hours, lat, lng) values (%s, %s, '서울', %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

for gu in tqdm(gu_names) :
    # 시/군/구 태그 선택
    gu_element = driver.find_element(By.ID, 'SIGUNGU_NM0')
    gu_element.send_keys(gu)
    time.sleep(0.5)

    # 시/군/구 선택 시 결과 화면 html 파싱
    html = driver.page_source
    soup = bs(html, "html.parser")

    # 검색 결과 수만큼 반복
    station_cnt = int(soup.select_one('#totCnt').text)
    for i in range(1, station_cnt+1) :
        each_station = driver.find_element(By.CSS_SELECTOR, f"#body1 > tr:nth-child({i}) > td.rlist > a").click()
        time.sleep(0.5)

        # 각 주유소 정보 화면에 대한 html 파싱
        html = driver.page_source
        soup = bs(html, "html.parser")

        # 브랜드
        station_brand = search_id(soup.select_one("#poll_div_nm").text)

        # 주유소명
        station_name = soup.select_one("#os_nm").text

        # 주소
        station_address = soup.select_one("#rd_addr").text

        # 구
        station_gu = search_gu(station_address)

        # 휘발유 가격
        gasoline_price = str2int(soup.select_one("#b027_p").text)

        # 경유 가격
        diesel_price = str2int(soup.select_one("#d047_p").text)

        # 셀프 여부
        self_yn = True if soup.find(class_='header').find(id="SPAN_SELF_VLT_YN_ID").find(id="self_icon") else False

        # 세차장 여부
        wash_yn = True if "off" not in soup.select_one("#cwsh_yn")['src'] else False

        # 충전소 여부
        lpg_yn = True if "off" not in soup.select_one("#lpg_yn")['src'] else False

        # 경정비 여부
        maint_yn = True if "off" not in soup.select_one("#maint_yn")['src'] else False

        # 편의점 여부
        cvs_yn = True if "off" not in soup.select_one("#cvs_yn")['src'] else False

        # 24시간 여부
        sel24_yn = True if "off" not in soup.select_one("#sel24_yn")['src'] else False

        # 위도
        lat = search_latlng(station_address)[0]

        # 경도
        lng = search_latlng(station_address)[1]

        cursor.execute(sql, (station_brand, station_name, station_gu, station_address,
                            gasoline_price, diesel_price, self_yn, wash_yn, lpg_yn, maint_yn, cvs_yn,
                            sel24_yn, lat, lng))
        
        remote.commit()

        time.sleep(0.5)

100%|██████████| 25/25 [13:09<00:00, 31.57s/it]

In [45]:
driver.close()

In [46]:
remote.close()

In [49]:
# 입력된 데이터의 총 갯수를 쿼리하여 결과 확인
cursor.execute("select count(*) from GAS_STATION")

result = cursor.fetchall()
result[0][0]

424

In [50]:
# 입력된 데이터 상위 10개를 쿼리하여 결과 확인
cursor.execute("select * from GAS_STATION limit 10")

result = cursor.fetchall()
for result_iterator in result :
    print(result_iterator)

(1, 1, '(주)보성 세곡주유소', '서울', '강남구', '서울 강남구  헌릉로 731 (세곡동)', 1592, 1432, 1, 1, 0, 0, 0, 0, Decimal('37.46715650000000'), Decimal('127.11870810000000'))
(2, 3, '방죽주유소', '서울', '강남구', '서울 강남구 밤고개로 215 (율현동)', 1627, 1469, 1, 1, 0, 0, 0, 0, Decimal('37.47499260000000'), Decimal('127.10688660000000'))
(3, 2, 'HD현대오일뱅크㈜직영 강남셀프주유소', '서울', '강남구', '서울 강남구 도곡로 208', 1629, 1544, 1, 1, 0, 0, 0, 0, Decimal('37.49229500000000'), Decimal('127.04185980000000'))
(4, 1, '오일프러스 셀프', '서울', '강남구', '서울 강남구 남부순환로 2651 (도곡동)', 1636, 1529, 1, 1, 0, 1, 0, 1, Decimal('37.48583900000000'), Decimal('127.03967210000000'))
(5, 1, '자곡셀프주유소', '서울', '강남구', '서울 강남구 밤고개로 120 (자곡동)', 1638, 1478, 1, 1, 0, 0, 0, 0, Decimal('37.48340020000000'), Decimal('127.10404580000000'))
(6, 2, 'HD현대오일뱅크㈜직영 산성셀프주유소', '서울', '강남구', '서울 강남구 헌릉로 730', 1645, 1468, 1, 1, 0, 0, 0, 0, Decimal('37.46656750000000'), Decimal('127.11908030000000'))
(7, 2, 'HD현대오일뱅크㈜직영 도곡셀프주유소', '서울', '강남구', '서울 강남구  남부순환로 2718', 1656, 1564, 1, 1, 0, 1, 0, 0, Decimal('37.48546230000000'), Decimal('127.04321810000000'))
(8, 4, '극동유화㈜ 개나리주유소', '서울', '강남구', '서울 강남구 언주로 423 (역삼동)', 1659, 1529, 1, 1, 0, 1, 0, 1, Decimal('37.50007760000000'), Decimal('127.03854190000000'))
(9, 2, 'HD현대오일뱅크㈜직영 유진주유소', '서울', '강남구', '서울 강남구 논현로 152 (도곡동)', 1666, 1579, 0, 1, 0, 1, 0, 0, Decimal('37.48743160000000'), Decimal('127.03999760000000'))
(10, 4, '일원주유소', '서울', '강남구', '서울 강남구 양재대로55길 3 (일원동)', 1675, 1518, 1, 0, 0, 0, 0, 0, Decimal('37.49425010000000'), Decimal('127.09419970000000'))

문제 5.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작성)
- 전체 데이터를 가져오는데, 주유소 브랜드 아이디 대신 브랜드명이 표시되어야 합니다. (정렬 : 주유소 매장 아이디 순)
- 다음의 형식으로 저장되어야 함 (브랜드 이름, 칼럼 명 주의, id : GAS_STORE.id)

제출 5.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

In [51]:
cursor.execute("select s.id, b.name 'brand', s.name, s.city, s.gu, s.address, s.gasoline, s.diesel, s.self, s.car_wach, s.charging_station, s.car_maintenance, s.convenience_store, s.24_hours, s.lat, s.lng  from GAS_STATION s, GAS_BRAND b where b.id=s.brand order by s.id")
result = cursor.fetchall()

df = pd.DataFrame(result)
df.columns = ['id', 'brand', 'name', 'city', 'gu', 'address', 
              'gasoline', 'diesel', 'self', 'car_wash', 'charging_station', 
              'car_maintenance', 'convenience_store', '24_hours', 'lat', 'lng']

df.to_csv('[DS]sql2_kimtaeheon.csv', index=False)

In [52]:
df.head()

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,1,SK에너지,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1592,1432,1,1,0,0,0,0,37.46715650000000,127.11870810000000
1,2,GS칼텍스,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1627,1469,1,1,0,0,0,0,37.47499260000000,127.10688660000000
2,3,현대오일뱅크,HD현대오일뱅크㈜직영 강남셀프주유소,서울,강남구,서울 강남구 도곡로 208,1629,1544,1,1,0,0,0,0,37.49229500000000,127.04185980000000
3,4,SK에너지,오일프러스 셀프,서울,강남구,서울 강남구 남부순환로 2651 (도곡동),1636,1529,1,1,0,1,0,1,37.48583900000000,127.03967210000000
4,5,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1638,1478,1,1,0,0,0,0,37.48340020000000,127.10404580000000

In [53]:
df.tail()

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
419,420,S-OIL,(주)태영 구도일주유소 한인,서울,중랑구,서울 중랑구 망우로 170,1607,1407,1,1,0,1,0,0,37.59246550000000,127.07190800000000
420,421,S-OIL,범아주유소,서울,중랑구,서울 중랑구 동일로 881,1619,1449,0,1,0,1,0,0,37.60931110000000,127.07767250000000
421,422,SK에너지,신내주유소,서울,중랑구,서울 중랑구 용마산로 705 (신내동),1639,1472,1,1,0,0,0,0,37.61712500000000,127.09589620000000
422,423,SK에너지,용마로주유소,서울,중랑구,서울 중랑구 용마산로 309 (면목동),1698,1498,1,1,0,0,0,0,37.57987770000000,127.09218190000000
423,424,SK에너지,신일셀프주유소,서울,중랑구,서울 중랑구 상봉로 58 (망우동),1698,1598,1,1,0,1,0,1,37.59094190000000,127.09380660000000

문제 6.

위도, 경도 정보를 이용하여 미왕빌딩에서 1킬로 이내에 위치한 주유소 정보를 검색하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 미왕빌딩으로 부터의 거리 (km)

제출 6.
- 쿼리, 결과

In [62]:
cursor.execute("set @location = point(127.02915553846, 37.495435686811)")   # 미왕빌딩 경도, 위도
# ST_Distance_Sphere 결과 m단위이기 때문에 1000을 나눠 km로 변경
cursor.execute("select s.id, b.name 'brand', s.name, s.address, ST_Distance_Sphere(@location, point(lng, lat))/1000 distance from GAS_BRAND b, GAS_STATION s where b.id=s.brand having distance <= 1")
result_distance_under_one = cursor.fetchall()
for datas in result_distance_under_one:
    print(datas)

(14, 'SK에너지', 'SK서광주유소', '서울 강남구 역삼로 142', 0.5376117307183726)
(243, '현대오일뱅크', 'HD현대오일뱅크㈜직영 서초제일주유소', '서울 서초구 사임당로 116 (서초동)', 0.7926064002535467)
(8, 'S-OIL', '극동유화㈜ 개나리주유소', '서울 강남구 언주로 423 (역삼동)', 0.9757550368463893)

문제 7.

위도, 경도 정보를 이용하여 미왕빌딩에서 셀프주유가 가능하고 24시간이면서 편의점이 있는 가장 가까운 주유소 10개를 휘 발유 가격이 가장 저렴한 순으로 정렬하여 조회하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 휘발유 가격, 부가정보 (셀프, 24시간, 편의점 여부), 미왕빌딩으로 부터의 거리 (km)


제출 7.
- 쿼리, 결과

In [64]:
cursor.execute("set @location = point(127.02915553846, 37.495435686811)")
cursor.execute("select * from (select s.id, b.name 'brand', s.name, s.address, s.gasoline, s.self, s.24_hours, s.convenience_store, ST_Distance_Sphere(@location, point(lng, lat))/1000 distance from GAS_STATION s, GAS_BRAND b where b.id=s.brand and s.self=1 and s.24_hours=1 and s.convenience_store=1 order by distance limit 10) new_table order by new_table.gasoline")
result_top_10 = cursor.fetchall()
for datas in result_top_10 :
    print(datas)

(220, '알뜰주유소', '만남의광장주유소', '서울 서초구 양재대로12길 73-71', 1539, 1, 1, 1, 4.095242199123274)
(322, '현대오일뱅크', 'HD현대오일뱅크㈜직영 남부순환셀프주유소', '서울 양천구 남부순환로 553 (신월동)', 1574, 1, 1, 1, 17.00235242559385)
(350, 'SK에너지', '행촌주유소', '서울 영등포구 도신로 130 (신길동)', 1605, 1, 1, 1, 10.941811511707854)
(135, 'GS칼텍스', '대득에너지(금천셀프주유소)', '서울 금천구  시흥대로 81 (시흥동)', 1625, 1, 1, 1, 12.663726012733722)
(72, 'S-OIL', '하이웨이주유소', '서울특별시 강서구 공항대로 432(화곡동)', 1626, 1, 1, 1, 16.726716998973963)
(309, 'SK에너지', '백제고분로주유소', '서울 송파구 오금로 143 (방이동)', 1633, 1, 1, 1, 7.960277383170283)
(219, 'SK에너지', '행촌제2주유소', '서울 서대문구 성산로 490 (대신동)', 1645, 1, 1, 1, 10.699366995284084)
(360, 'SK에너지', 'SK에너지(주) 기린주유소', '서울 영등포구 선유로 270', 1678, 1, 1, 1, 12.313602826012188)
(245, 'SK에너지', '대신석유(주)대우주유소', '서울 서초구 양재대로 173 (양재동)', 1679, 1, 1, 1, 3.700511395803729)
(247, 'GS칼텍스', '지에스칼텍스(주)남서울주유소', '서울 서초구 나루터로 83 (잠원동)', 1759, 1, 1, 1, 2.474829684989387)

문제 8.

구별로 주유소 브랜드 별 휘발유 평균가격을 조회하여 저렴한 순으로 출력하세요.

- 구 이름, 주유소 브랜드 이름, 휘발유 평균 가격

제출 8.
- 쿼리, 결과

In [65]:
cursor.execute("select s.gu, b.name 'brand', avg(gasoline) from GAS_STATION s, GAS_BRAND b where b.id=s.brand group by gu, brand order by avg(gasoline)")
result_avg_gasoline = cursor.fetchall()
for datas in result_avg_gasoline :
    print(datas)

('서초구', '알뜰주유소', Decimal('1539.0000'))
('중랑구', '현대오일뱅크', Decimal('1544.0000'))
('강북구', '현대오일뱅크', Decimal('1545.0000'))
('양천구', 'S-OIL', Decimal('1548.0000'))
('영등포구', '알뜰주유소', Decimal('1565.0000'))
('중랑구', 'GS칼텍스', Decimal('1568.3333'))
('강서구', '알뜰주유소', Decimal('1571.2500'))
('은평구', 'SK에너지', Decimal('1572.6667'))
('구로구', '알뜰주유소', Decimal('1573.0000'))
('은평구', '현대오일뱅크', Decimal('1574.0000'))
('서대문구', '현대오일뱅크', Decimal('1575.6667'))
('강북구', 'SK에너지', Decimal('1576.5000'))
('은평구', 'S-OIL', Decimal('1576.5000'))
('서대문구', 'GS칼텍스', Decimal('1578.5000'))
('양천구', '알뜰주유소', Decimal('1579.0000'))
('도봉구', 'SK에너지', Decimal('1580.0000'))
('강북구', 'S-OIL', Decimal('1580.0000'))
('성동구', 'S-OIL', Decimal('1581.5000'))
('강북구', 'GS칼텍스', Decimal('1583.0000'))
('금천구', '알뜰주유소', Decimal('1583.0000'))
('동대문구', '현대오일뱅크', Decimal('1584.8333'))
('도봉구', '현대오일뱅크', Decimal('1585.3333'))
('광진구', '현대오일뱅크', Decimal('1585.4000'))
('구로구', 'SK에너지', Decimal('1585.6667'))
('성북구', '현대오일뱅크', Decimal('1585.6667'))
('중랑구', 'S-OIL', Decimal('1586.7500'))
('구로구', '현대오일뱅크', Decimal('1586.8571'))
('관악구', '알뜰주유소', Decimal('1588.0000'))
('도봉구', 'GS칼텍스', Decimal('1590.0000'))
('은평구', 'GS칼텍스', Decimal('1594.8000'))
('서대문구', 'S-OIL', Decimal('1595.6667'))
('동대문구', 'GS칼텍스', Decimal('1598.0000'))
('성동구', '자가상표', Decimal('1598.0000'))
('노원구', 'S-OIL', Decimal('1598.2500'))
('양천구', 'GS칼텍스', Decimal('1598.4000'))
('광진구', 'S-OIL', Decimal('1602.0000'))
('광진구', 'GS칼텍스', Decimal('1609.0000'))
('강서구', '현대오일뱅크', Decimal('1610.4000'))
('송파구', 'S-OIL', Decimal('1610.4000'))
('도봉구', 'S-OIL', Decimal('1611.0000'))
('성북구', 'SK에너지', Decimal('1612.3333'))
('성동구', '현대오일뱅크', Decimal('1612.3333'))
('동대문구', 'SK에너지', Decimal('1614.4000'))
('성북구', 'S-OIL', Decimal('1614.5000'))
('금천구', 'S-OIL', Decimal('1615.0000'))
('양천구', 'SK에너지', Decimal('1615.3750'))
('노원구', '현대오일뱅크', Decimal('1616.6667'))
('성북구', 'GS칼텍스', Decimal('1619.5714'))
('송파구', 'GS칼텍스', Decimal('1622.7500'))
('영등포구', 'S-OIL', Decimal('1628.2500'))
('영등포구', '현대오일뱅크', Decimal('1628.6667'))
('마포구', '현대오일뱅크', Decimal('1631.6667'))
('금천구', 'SK에너지', Decimal('1633.6667'))
('관악구', 'SK에너지', Decimal('1636.2500'))
('강서구', 'GS칼텍스', Decimal('1638.1429'))
('동작구', 'S-OIL', Decimal('1639.0000'))
('금천구', 'GS칼텍스', Decimal('1640.0000'))
('동대문구', 'S-OIL', Decimal('1640.6667'))
('양천구', '현대오일뱅크', Decimal('1641.5556'))
('금천구', '현대오일뱅크', Decimal('1643.3333'))
('서대문구', 'SK에너지', Decimal('1643.6000'))
('강서구', 'SK에너지', Decimal('1643.9167'))
('종로구', '현대오일뱅크', Decimal('1644.0000'))
('노원구', 'SK에너지', Decimal('1644.5000'))
('동작구', '현대오일뱅크', Decimal('1646.6000'))
('강서구', 'S-OIL', Decimal('1646.8000'))
('송파구', '현대오일뱅크', Decimal('1648.8333'))
('중랑구', 'SK에너지', Decimal('1649.7500'))
('서초구', 'GS칼텍스', Decimal('1650.3333'))
('송파구', 'SK에너지', Decimal('1652.0000'))
('동작구', 'GS칼텍스', Decimal('1652.0000'))
('광진구', 'SK에너지', Decimal('1654.5000'))
('관악구', '현대오일뱅크', Decimal('1660.7500'))
('서초구', '현대오일뱅크', Decimal('1662.8000'))
('노원구', 'GS칼텍스', Decimal('1663.2000'))
('강동구', '현대오일뱅크', Decimal('1664.0000'))
('마포구', 'S-OIL', Decimal('1665.0000'))
('강동구', 'SK에너지', Decimal('1666.3333'))
('구로구', 'S-OIL', Decimal('1674.0000'))
('중구', 'S-OIL', Decimal('1677.0000'))
('종로구', 'SK에너지', Decimal('1680.0000'))
('강동구', 'GS칼텍스', Decimal('1684.6000'))
('은평구', '자가상표', Decimal('1688.0000'))
('관악구', 'S-OIL', Decimal('1696.5000'))
('중구', '알뜰주유소', Decimal('1698.0000'))
('마포구', 'SK에너지', Decimal('1703.8000'))
('종로구', 'S-OIL', Decimal('1714.5000'))
('서초구', 'S-OIL', Decimal('1725.1667'))
('서초구', 'SK에너지', Decimal('1727.5714'))
('구로구', 'GS칼텍스', Decimal('1735.7500'))
('성동구', 'SK에너지', Decimal('1736.8333'))
('영등포구', 'SK에너지', Decimal('1755.6250'))
('영등포구', 'GS칼텍스', Decimal('1771.2500'))
('동작구', 'SK에너지', Decimal('1785.0000'))
('강동구', 'S-OIL', Decimal('1789.0000'))
('강남구', 'S-OIL', Decimal('1790.2500'))
('관악구', 'GS칼텍스', Decimal('1790.6667'))
('중구', '현대오일뱅크', Decimal('1808.0000'))
('강남구', 'SK에너지', Decimal('1811.3000'))
('성동구', 'GS칼텍스', Decimal('1832.7500'))
('강남구', '현대오일뱅크', Decimal('1887.1111'))
('강남구', 'GS칼텍스', Decimal('1964.0000'))
('종로구', 'GS칼텍스', Decimal('1982.0000'))
('용산구', '현대오일뱅크', Decimal('2045.0000'))
('중구', 'SK에너지', Decimal('2060.8000'))
('용산구', 'SK에너지', Decimal('2176.0000'))
('용산구', 'GS칼텍스', Decimal('2427.0000'))
('중구', 'GS칼텍스', Decimal('2469.0000'))

---